body{
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
li{
    list-style: none;
}
a{
    color: rgb(5, 57, 210);
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    margin-top: 50px;
}
.header-title{
    color: rgb(5, 57, 210);
}
.list-group-item{
    border: 1px solid black;
    padding: 10px;
}
.list-group-item + .list-group-item{
    margin-top: 10px;
}
.page-item{
    display: inline-block;
}
.page-item + .page-item{
    margin-left: 10px;
}
.page-link{
    border: 1px solid rgb(111, 111, 111);
    padding: 10px;
}
.btn{
    margin-left: 40px;
    color: #fff;
    border: none;
    background: rgb(27, 65, 231);
    padding: 10px;
}